# dependencies
node_modules/

# production
dist/
build/

# misc
.DS_Store
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor settings
.vscode/
.idea/
*.swp

# optional
coverage/

# ignore specific files in frontend
frontend/pages.txt
frontend/problem_definition.txt
frontend/roadmap.txt

# ignore specific file in backend
backend/notes.txt